@import '~@angular/flex-layout/mq';


section {
    margin: 50px 0px;
    font-size: 1.5em;

}

button {
    margin-top: 10px;
}


mat-form-field, mat-card {
    width: 320px;
}

#fbButton {
    background-color:#3b5998;
}

.fa-facebook-f {
    padding: 8px 15px 8px 0px;
}

@include layout-bp(gt-xs) {
    section {
        margin-top: 80px;
    }

    mat-form-field, mat-card {
        width: 450px;
    }

}