@import '~@angular/flex-layout/mq';

mat-card {
    margin-top: 30px;
    width: 350px;
    
}


mat-card-content {
    margin: 20px;
    font-size: 1.2em !important;
}


section {
    margin: 30px;
}


@include layout-bp(gt-xs) {
    mat-card  {
        width: 650px;
    }

    mat-card-content {
       width: 600px;
    }
}