<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm">
        <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email">
            <mat-error>Please enter a valid email!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error>This password is incorrect.</mat-error>
        </mat-form-field>
        <button *ngIf="!spinnerActive" mat-raised-button color="accent" [disabled]="loginForm.invalid" (click)="onSubmit()">Submit</button>
        <button mat-raised-button id="fbButton" (click)="fbLogin()"><i class="fab fa-facebook-f fa-2x"></i>Login with facebook</button>
        <button mat-button  color="primary" routerLink="/forgotPassword">Forgot password</button>
        <mat-spinner *ngIf="spinnerActive"></mat-spinner>
    </form>
</section>