@import '~@angular/flex-layout/mq';

mat-card {
    margin-top: 30px;
    width: 380px;
}

mat-form-field {
    width: 350px;
}

section {
    margin: 50px 0px;
}


@include layout-bp(gt-xs) {
    mat-card {
        width: 650px;
    }
    mat-form-field {
        width: 620px;
    }

    mat-card-content {
        margin-top: 20px;
        font-size: 1.5em !important;
    }
    
    mat-card-title {
        font-size:2em !important;
    }
    
}