<section fxLayout="column" fxLayoutAlign="center center" >
    <mat-card>
        <mat-card-title>Send Invitation</mat-card-title>
        <mat-card-content>
            <form fxLayout="column" [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input type="text" matInput placeholder="Email" formControlName="email">
                    <mat-error>Please enter a valid email!</mat-error>
                </mat-form-field>
                <button mat-raised-button color="accent" type="submit" [disabled]="inviteForm.invalid">Invite</button>
            </form>
        </mat-card-content>
    </mat-card>
    
    <!-- <p>{{ (friends$ | async)?.length }}</p> -->

    <mat-card *ngIf="friends.length > 0">
        <mat-card-title>Your friends</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div *ngFor="let item of friends" fxLayout="row" fxLayoutAlign="space-between">
                <p>{{item.username}}</p>
                <button mat-button color="warn" (click)="deleteFriend(item.userID)">Delete</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="sendedInvitations.length > 0">
        <mat-card-title>Invitations Sended</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div *ngFor="let item of sendedInvitations" fxLayout="row" fxLayoutAlign="space-between">
                <p>{{item.email}}</p>
                <button mat-button color="warn" (click)="deleteFriend(item.userID)">Delete</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="receivedInvitations.length > 0">
        <mat-card-title>Invitations Received</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div *ngFor="let item of receivedInvitations" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" id="invitations">
                    <div>{{item.sender.email}}</div>
                    <div>({{item.sender.username}})</div>
                </div>
                <div fxLayoutGap="10px">
                    <button mat-raised-button color="warn" (click)="acceptInvitation(item.friendID)">Accept</button>
                    <button mat-raised-button color="accent" (click)="declineInvitation(item.friendID)">Decline</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>