<section fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/logo_pollify.png" />
    <h1>Welcome to pollify</h1>
    <h2>This platform will poll your life!</h2>

    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Fun facts:</mat-card-title>
        <mat-card-content>
            <mat-chip-list fxLayout="row">
                <mat-chip color="primary" selected>Polls:&nbsp;<span *ngIf="countPolls >= 0"> {{ countPolls }}</span><span *ngIf="!(countPolls >= 0)"><mat-spinner [diameter]="20" color="accent"></mat-spinner></span></mat-chip>
                <mat-chip color="primary" selected>Users:&nbsp;<span *ngIf="countUsers >= 0"> {{ countUsers }}</span><span *ngIf="!(countUsers >= 0)"><mat-spinner [diameter]="20" color="accent"></mat-spinner></span></mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
    <div id="sentence">
        <p>Please <button mat-button color="warn" routerLink="/signup" >signup</button> or <button mat-button color="warn" routerLink="/login">login</button> to
            start polling with your friends.</p>
    </div>
</section>