<section fxLayoutAlign="center center" fxLayout="column" *ngIf="(polls$ | async)">
    <mat-card *ngIf="(pollInvites$ | async)?.length > 0"  fxFlex fxLayout="column" id="cardinvite">
        <mat-card-title>Poll Invites</mat-card-title>
        <mat-card-content fxFlex fxLayout="column">
            <div *ngFor="let pollUser of (pollInvites$ | async)" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <div fxHide.lt-sm>{{pollUser.poll.name | stringShortener:50}}</div>
                <div fxHide.gt-xs>{{pollUser.poll.name | stringShortener:20}}</div>
                <div fxLayoutGap="10px">
                    <button mat-raised-button color="accent" (click)="acceptPollInvite(pollUser)"><i class="fas fa-check-circle"></i></button>
                    <button mat-raised-button color="warn" (click)="deletePollInvite(pollUser)"><i class="fas fa-times-circle"></i></button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="(polls$ | async)?.length > 0">
        <mat-card-title fxLayoutAlign="center center">Your polls</mat-card-title>
        <mat-card-content>
            <mat-list *ngFor="let poll of (polls$ | async)">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-list-item fxHide.lt-sm>{{ poll.name | stringShortener:50}}</mat-list-item>
                    <mat-list-item fxHide.gt-xs>{{ poll.name | stringShortener:20}}</mat-list-item>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <button mat-raised-button  color="accent" (click)="vote(poll)"><i
                                class="fas fa-vote-yea"></i></button>
                        <button mat-raised-button color="warn"
                            (click)="deletePoll(poll)"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <div fxLayoutAlign="center center" *ngIf="friends > 0">
        <button mat-raised-button color="warn" id="creatButton" (click)="createPoll()">Create new poll</button>
    </div>
    <mat-card *ngIf="friends == 0" fxLayoutAlign="center center" fxLayout="column">
        <mat-card-title>Add Friends</mat-card-title>
        <mat-card-content>
            <p>You first need to add friends before you are able to create polls.</p>
            <p>Go to the <button id="friendButton" mat-button color="warn" routerLink="/friends">friends</button> section to send send
                invitations.</p>
        </mat-card-content>
    </mat-card>
</section>