@import '~@angular/flex-layout/mq';

@import '../../../my-theme.scss';

h1 {
    font-size: 42px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 10px;
    font-size: 25px; 
}

img {
    width: 250px;
    height: auto;
    margin-top: 40px;
}

mat-card {
    margin-top: 35px;
    background-color: mat-color($my-theme-warn) !important;
}

#sentence {
    text-align: center;
    margin: 40px;  
}

button {
    font-size: 18px !important;
}

@include layout-bp(gt-xs) {
    h1 {
        font-size: 70px;
        margin-top: 25px;
    }

    h2 {
        font-size: 42px;
    }

    mat-card {
        margin-top: 25px;
    }

    mat-card-title {
        font-size: 1.8em;
    }

    mat-chip {
        font-size: 1.2em;
    }

    p{
        margin-top: 15px;
        font-size: 1.5em;
    }

    button {
        font-size: 25px !important;
    }
}


