@import '~@angular/flex-layout/mq';

section {
    margin: 50px 0px;
}

mat-card {
    width: 350px;
}

mat-form-field {
    width: 225px;
    margin-right: 40px;
}

mat-card-content {
    padding: 30px 0px 20px 20px;
}

.my-tooltip {
    white-space: pre-line !important;
}

mat-card-actions {
    margin-bottom: 10px !important;
}

@include layout-bp(gt-xs) {
    mat-card {
        width: 650px;
    }

    mat-form-field {
        width: 490px;
        margin-right: 65px;
    }
}