@import '~@angular/flex-layout/mq';

section {
    font-size: 1.5em;
}

mat-card {
    margin-top: 45px;
    width: 350px;
}

mat-card-title {
    font-size: 1.2em;
}

mat-card-content {
    font-size: 0.8em;
}



#friendButton {
    font-size: 20px !important;
}

#cardinvite {
    width: 380px;
}

button {
    font-size: 1.2em;
}

#creatButton {
    margin-top: 35px;
    font-size: 0.8em;
}

@include layout-bp(gt-xs) {
    mat-card {
        width: 650px;
    }

    #cardinvite {
        width: 680px;
    }


}

