
.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-icon {
    margin-right: 20px;
    margin-left: 20px;
}

mat-sidenav-container, mat-sidenav-container, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 225px
}

a {
    text-decoration: none;
    color: white;

    &:hover, &:active {
        color:#AAAAAA;
    }
}

img {
    margin: 0px 0px 0px 40px;
    width: 100px;
    height: auto;
}

.friendRequests {
    border: 1px solid gray;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    font-size: 0.5em;
    font-weight: bold;
    padding: 3px;
    position: relative;
    top: 5px;
    right: 5px;
    opacity: 1;

    // &:hover {
    //     
    // }

}

#friendsLink:hover > .friendRequests {
    opacity: 0.5;
}

