<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <div mat-list-item>
                <a routerLink="/" (click)="sidenav.close()"><img src="assets/images/logo_pollify.png"></a>
            </div>
            <a *ngIf="!(isAuthenticated$ | async)" mat-list-item routerLink="/signup" (click)="sidenav.close()">
                <mat-icon id="nav-icon">person_add</mat-icon>
                <span>Signup</span>
            </a>
            <a *ngIf="!(isAuthenticated$ | async)" mat-list-item routerLink="/login" (click)="sidenav.close()">
                <mat-icon id="nav-icon">perm_identity</mat-icon>
                <span>Login</span>
            </a>
            <a *ngIf="isAuthenticated$ | async" mat-list-item routerLink="/dashboard" (click)="sidenav.close()">
                <mat-icon id="nav-icon">dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <a *ngIf="isAuthenticated$ | async" mat-list-item routerLink="/friends" (click)="sidenav.close()">
                <mat-icon id="nav-icon">person_add</mat-icon>
                <span>Friends</span>
            </a>
            <a *ngIf="isAuthenticated$ | async" mat-list-item (click)="logout()" (click)="sidenav.close()">
                <mat-icon id="nav-icon">highlight_off</mat-icon>
                <span>Logout</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div><a routerLink="/"><img src="assets/images/logo_pollify.png" /></a></div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" class="navigation-items" fxHide.lt-sm>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                    <li *ngIf="!(isAuthenticated$ | async)"><a routerLink="/login">Login</a></li>
                    <li *ngIf="!(isAuthenticated$ | async)"><a routerLink="/signup">Signup</a></li>
                    <li *ngIf="isAuthenticated$ | async"><a routerLink="/dashboard">Dashboard</a></li>
                    <li *ngIf="isAuthenticated$ | async">
                        <a [matBadge]="receivedInvitations.toString()" matBadgePosition="below after"
                            matBadgeColor="warn" [matBadgeHidden]="!(receivedInvitations > 0)"
                            routerLink="/friends">Friends</a>
                    </li>
                    <!--<div *ngIf="receivedInvitations" id="friendRequests">{{receivedInvitations}}</div>-->
                    <li *ngIf="isAuthenticated$ | async"><a (click)="logout()">Logout</a></li>
                </ul>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" class="navigation-items" fxHide.gt-xs
                *ngIf="(isAuthenticated$ | async) && receivedInvitations > 0">
                <a id="friendsIcon" [matBadge]="receivedInvitations.toString()" matBadgePosition="below after"
                    matBadgeColor="warn" routerLink="/friends">
                    <mat-icon [inline]="true">supervisor_account</mat-icon>
                </a>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>