<section fxLayoutAlign="center center" fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center center" fxLayout=column *ngIf="show && user">
        <mat-card-title>Reset Password</mat-card-title>
        <mat-card-content fxLayoutAlign="center center" fxLayout=column>
            <p>Give in your new password.</p>
            <form [formGroup]="resetPasswordForm" fxLayoutAlign="center center" fxLayout=column (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password" #pw1Input>
                    <mat-hint align="end">{{ pw1Input.value?.length }} / 8</mat-hint>
                    <mat-error>Has to be at least 8 characters long and contains 1 lowercase, 1 uppercase, 1 number and 1 special character.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" #pw2Input>
                    <mat-error>Has to be at least 8 characters long and contains 1 lowercase, 1 uppercase, 1 number and 1 special character.</mat-error>
                    <mat-hint align="end">{{ pw2Input.value?.length }} / 8</mat-hint>
                </mat-form-field>
                <button style="margin-top: 20px;" type="submit" mat-raised-button color="accent" [disabled]="resetPasswordForm.invalid">Reset
                    Password</button>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex *ngIf="show && user">
        <mat-card-title fxLayoutAlign="center center">Password validation</mat-card-title>
        <mat-card-content fxLayout="column">
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Lowercase:</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="lowercase" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!lowercase" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Uppercase:</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="uppercase" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!uppercase" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Number:</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="numeric" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!numeric" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <div>
                    <h3>Special Character:</h3>
                    <div id="characters">(!,@,#,,$,%,^,&,*)</div>
                </div>
                <mat-chip-list>
                    <mat-chip *ngIf="specialCharacter" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!specialCharacter" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Length (8):</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="length" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!length" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Identical:</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="identical" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!identical" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!show && !user">
        <mat-card-title>Error occured</mat-card-title>
        <mat-card-content>
            <p>This password reset link is unknow!</p>
        </mat-card-content>
    </mat-card>
</section>