<section fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center center" fxLayout=column>
        <mat-card-title>Reset Password</mat-card-title>
        <mat-card-content fxLayoutAlign="center center" fxLayout=column>
            <p>Give in your new password.</p>
            <form [formGroup]="resetPasswordForm" fxLayoutAlign="center center" fxLayout=column (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error></mat-error>
                </mat-form-field>
                <button type="submit" mat-raised-button color="accent">Reset Password</button>
            </form>
        </mat-card-content>
    </mat-card>
</section>
