<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="onSubmit()"
        [formGroup]="signupForm">
        <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username" #unInput>
            <mat-hint align="end">{{ unInput.value?.length }} / 3</mat-hint>
            <mat-error>Has to be at least 3 characters long.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email">
            <mat-error>Please enter a valid email!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" #pw1Input>
            <mat-hint align="end">{{ pw1Input.value?.length }} / 8</mat-hint>
            <mat-error>Has to be at least 8 characters long and contains 1 lowercase, 1 uppercase, 1 number and 1 special character.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" #pw2Input>
            <mat-hint align="end">{{ pw2Input.value?.length }} / 8</mat-hint>
            <mat-error>Has to be at least 8 characters long and contains 1 lowercase, 1 uppercase, 1 number and 1 special character.</mat-error>
        </mat-form-field>
        <button *ngIf="!showSpinner" mat-raised-button color="accent" type="submit"
            [disabled]="signupForm.invalid">Submit</button>
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
    </form>
    <mat-card fxFlex>
        <mat-card-title fxLayoutAlign="center center">Password validation</mat-card-title>
        <mat-card-content fxLayout="column">
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Lowercase:</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="lowercase" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!lowercase" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Uppercase:</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="uppercase" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!uppercase" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Number:</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="numeric" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!numeric" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <div>
                    <h3>Special Character:</h3>
                    <div id="characters">(!,@,#,,$,%,^,&,*)</div>
                </div>
                <mat-chip-list>
                    <mat-chip *ngIf="specialCharacter" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!specialCharacter" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Length (8):</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="length" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!length" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
            <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
                <h3>Identical:</h3>
                <mat-chip-list>
                    <mat-chip *ngIf="identical" class="valid">Valid</mat-chip>
                    <mat-chip *ngIf="!identical" class="notValid">Not Valid</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>
</section>