@import '~@angular/flex-layout/mq';

mat-card {
    margin-top: 30px;
    width: 350px;
}


mat-card-content {
    margin-top: 20px;
}

#characters {
    font-size: 0.9em;
    font-weight: normal;
    margin-top: -15px;
}


section {
    margin: 30px;
}

.valid {
    background-color: green;
    color: white;
}

.notValid {
    background-color: red;
    color: white;
}


@include layout-bp(gt-xs) {
    mat-card  {
        width: 450px;
    }
}