<section fxLayout="column" fxLayoutAlign="center center" *ngIf="answersIDUser" fxLayoutGap="20px">
    <mat-card>
        <mat-card-title fxLayoutAlign="center center">{{poll.naam}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div fxLayoutGap="20px" fxLayout="column" >
                <div *ngFor="let answer of poll.answers" fxLayout="row" fxLayoutAlign="space-between">
                    <mat-checkbox color="warn" [value]="answer"
                        (change)="updateVote($event, answer.answerID)"
                        [checked]="answersIDUser.includes(answer.answerID)">
                        {{answer.beantwoording}}
                    </mat-checkbox>
                    <p>Votes: {{answer.stemmen.length}}</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button mat-raised-button color="accent" (click)="saveVote()">Vote</button>
        </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="participants$">
        <mat-card-title>Participants</mat-card-title>
        <mat-card-content fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between" *ngFor="let participant of (participants$ | async)">
                <p>{{participant.gebruikersnaam}} <span *ngIf="participant.userID == userID">(you)</span></p>
                <button mat-button color="warn" *ngIf="participant.userID != userID">Remove</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Invite friends</mat-card-title>
        <mat-card-content>
            <div *ngFor="let noParticipant of (noParticipants$ | async)" fxLayoutAlign="space-between">
                <p>{{noParticipant.gebruikersnaam}}</p>
                <button mat-button color="warn" (click)="inviteFriend(noParticipant.userID)">Invite</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>