@import '~@angular/flex-layout/mq';

section {
    margin: 50px 0px;
}

mat-card {
    width: 350px;
}

mat-form-field {
    width: 225px;
    margin-right: 40px;
}

mat-card-content {
    padding: 30px 0px 20px 20px;
}

@include layout-bp(gt-xs) {
    mat-card {
        width: 450px;
    }

    mat-form-field {
        width: 300px;
        margin-right: 65px;
    }
}