<section fxLayout="column" fxLayoutAlign="center center" *ngIf="poll" fxLayoutGap="20px">
    <mat-card>
        <mat-card-title fxLayoutAlign="center center">{{poll.name}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div fxLayoutGap="20px" fxLayout="column" >
                <div *ngFor="let answer of poll.answers" fxLayout="row" fxLayoutAlign="space-between">
                    <mat-checkbox color="warn" [value]="answer"
                        (change)="updateVote($event, answer.answerID)"
                        [checked]="answersIDUser.includes(answer.answerID)">
                        {{answer.name}}
                    </mat-checkbox>
                    <div fxLayout="row">
                        <p>Votes: {{answer.votes.length}}</p>
                        <button mat-button color="warn" (click)="deleteAnswer(answer)">Delete</button>
                    </div>
                </div>
                <div *ngIf="show">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Answer" [(ngModel)]="answer">
                        <mat-error>Characters...</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addAnswer()"><mat-icon>add_circle_outline</mat-icon></button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button mat-raised-button color="accent" (click)="saveVote()">Vote</button>
            <button mat-raised-button color="primary" (click)="showAnswer()">Toggle add answer</button>
        </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="(participants$ | async)?.length > 0">
        <mat-card-title>Participants</mat-card-title>
        <mat-card-content fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between" *ngFor="let participant of (participants$ | async)">
                <p>{{participant.username}} <span *ngIf="participant.userID == userID">(you)</span></p>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="(noparticipants$ | async)?.length > 0">
        <mat-card-title>Invite friends</mat-card-title>
        <mat-card-content>
            <div  *ngFor="let noparticipant of (noparticipants$ | async)" fxLayoutAlign="space-between">
                <p>{{noparticipant.username}}</p>
                <button mat-button color="warn" (click)="inviteFriend(noparticipant, $event)">Invite</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>