@import '~@angular/flex-layout/mq';

section {
    font-size: 1.5em;
}

mat-card {
    margin-top: 45px;
    width: 350px;
}

#creatButton {
    margin-top: 35px;
}

@include layout-bp(gt-xs) {
    mat-card {
        width: 450px;
    }
}

